h5 {
    margin: 10px;
    padding: 3px; 
    width: 70px;
    height: 10px;
    margin-left: 300px;   
    color: #515151;
    /*display: table-cell;*/
}

.butt {        
    display: table-cell;
    padding: 5px;
    margin: 10px;
    background-color: #F1F1F1;
    width: 120px;
    height: 30px;    
    text-align: center;
    border-radius: 10px;
}
#filters, #smallButtonParent {
    display: table;    
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.pictures {    
    width: 400px;
    height: 400px;
}
#leftSide, #rightSide {
    background-color: #716462;
}

.bottomButt{    
    display: table-cell;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #666666;
    margin: 10px;    
    margin-left: 200px;
}
#centerManager {
    margin-left: 550px;
}
.currentMiddleImage {    
    display: table-cell;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #B64561;
    margin: 10px;    
    margin-left: 200px;
}
#leftMask, #rightMask {
    position:absolute;
    background-color: grey;
    width: 400px;
    height: 400px;    
    margin-top: 66px;
    opacity: 0.9;

}
#rightMask {
    margin-left: 808px;
}

#bigPicture {
    visibility: hidden;
    position:absolute;
    width: 600px;
    height: 600px;
    margin: 10px;
    margin: -450px 0px 250px 300px;
}
#exitBig {
    visibility:hidden;
    z-index: 1;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    opacity: 0.8;
    margin: -450px 0 250px 860px;
}